@import "src/ui/06_common/styles/colors/colors";

.overlay {
  height: 0;
  width: 0;
}

input[type=checkbox] {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  cursor: auto;
  font-size: 0;
}

.navBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 65px;
}

.navList {
  display: flex;
  width: 100%;
  height: inherit;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navListInner {
  height: inherit;
  width: 70%;
  display: flex;
  align-items: flex-end;
}

.navListInnerSecond {
  height: inherit;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navItem {
  padding-right: 50px;
  list-style: none;
}

.navItem:last-child {
  padding-right: 0;
}

.link {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}

.link.selected.dark {
  border-bottom: 5px solid $accent-color;
}

.link.selected.light {
  border-bottom: 5px solid $accent-color;
}

.link.dark {
  background: $dark-theme-bg;
  color: $dark-theme-text;
  transition: 0.3s all;
}

.link.light {
  background: $light-theme-bg;
  color: $light-theme-text;
  transition: 0.3s all;
}


@media screen and (max-width: 650px) {
  .navBox {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
  }

  .navList {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .navListInner {
    flex-direction: column;
    align-items: center;
    width: 105px;
  }

  .navListInnerSecond {
    flex-direction: column;
    margin-bottom: 10px;
    width: 105px;
  }

  .navItem {
    padding: 0;
    margin-bottom: 4px;
  }

  .navItemTheme {
    position: absolute;
    right: 10px;
    top: -13px;
  }

  .navList {
    padding-top: 40px;
  }

  .overlay {
    position: absolute;
    z-index: 1;
    left: 10px;
    width: 70%;
    height: 65px;
    transition: 0.3s all;
  }

  .overlayLight {
    background-color: $light-theme-bg;
  }

  .overlayDark {
    background-color: $dark-theme-bg;
  }

  .overlay > label {
    cursor: pointer;
    display: block;
    position: relative;
    top: 30px;
    width: 30px;
    height: 16px;
    border-top: 2px solid $accent-color;
    border-bottom: 2px solid $accent-color;
  }

  .overlay > label::before {
    content: '';
    display: block;
    position: relative;
    top: 7px;
    border-top: 2px solid $accent-color;
  }

  .verticalNav {
    color: $accent-color;
    position: relative;
    top: -105px;
    height: 94px;
    padding: 10px;
    font-size: 22px;
    box-sizing: border-box;
    transition: top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }

  .verticalNav a {
    display: block;
    color: #111;
    text-decoration: none;
  }

  //.verticalNav a:hover {
  //  width: 120px;
  //}

  .puppies {
    padding-bottom: 10px;
    margin-left: 115px;
    margin-top: -30px;
    transition: margin-top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }


  .toggle {
    position: absolute;
    visibility: hidden;
  }

  .toggle:checked ~ .verticalNav {
    top: 80px;
  }

  .toggle:checked ~ .puppies {
    margin-top: 135px;
  }

}


