.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recoveryBtn:disabled {
  opacity: 0.3;
  cursor: auto;
}

.recoveryBtn {
  cursor: pointer;
}

.error {
  color: crimson;
}