@import "src/ui/06_common/styles/colors/colors";

.box {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 10px;
}

.wrap {
  width: 800px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.minPrice, .maxPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444444;
  background-color: $accent-color;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.5px;
  transition: 0.3s;
  padding: 3px;
  width: 37px;
  height: 30px;
  outline: none;
}

.minPrice {
  margin-right: 15px;
}

.maxPrice {
  margin-left: 15px;
}

.sliderColor {
  color: #444444 !important;
}



@media screen and (max-width: 950px) {
  .wrap {
    width: 500px;
  }
}

@media screen and (max-width: 715px) {
  .wrap {
    width: 300px;
  }
}
