@import "src/ui/06_common/styles/colors/colors";

.navBox {
  display: flex;
  justify-content: center;
}

.navList {
  display: flex;
  justify-content: center;
  padding: 0;
}

.navItem {
  margin: 12px 0;
  padding-right: 25px;
  list-style: none;
}

.link {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

.link.selected.dark {
  border-bottom: 5px solid $accent-color;
}

.link.selected.light {
  border-bottom: 5px solid $accent-color;
}

.link.dark {
  background: $dark-theme-bg;
  color: $dark-theme-text;
  transition: 0.3s all;
}

.link.light {
  background: $light-theme-bg;
  color: $light-theme-text;
  transition: 0.3s all;
}


@media (max-width: 950px) {
  .navBox {
    flex-direction: column;
    .navList {
      flex-direction: column;
    }
  }
}