.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 300px;
}

.newPassBtn {
	cursor: pointer;
}

.newPassBtn:disabled {
	opacity: 0.3;
	cursor: auto;
}

.error {
	color: crimson;
}