@import "src/ui/06_common/styles/colors/colors.scss";


.lightTheme {
  min-height: 100vh;
  background-color: $light-theme-bg;
  color: $light-theme-text;
}

.darkTheme {
  min-height: 100vh;
  background-color: $dark-theme-bg;
  color: $dark-theme-text;
}