@import "src/ui/06_common/styles/colors/colors";

.app {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}

.app.dark {
  background: $dark-theme-bg;
  color: $dark-theme-text;
  transition: 0.3s all;
}

.app.light {
  background: $light-theme-bg;
  color: $light-theme-text;
  transition: 0.3s all;
}

.app p {
  font-size: 24pt;
}

body {
  padding: 0;
  margin: 0;
}

.switcherBtn {
  border: none;
  outline: none;
  background-color: $light-theme-bg !important;
  color: $light-theme-bg !important;
  border: none !important;
  padding: 0px !important;
  cursor: pointer;
}

.switcherBtn.dark {
  background-color: $dark-theme-bg !important;
}

.switcherBtn.light {
  transition: 0.3s all;
}

.emoji {
  font-size: 30px;
}

.btnBox {
  position: absolute;
  right: 10px;
  top: 15px;
}