@import "src/ui/06_common/styles/colors/colors";

.regWrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regInner {
  margin-bottom: 15px;
}

.regTitle {
  font-weight: 600;
  margin: 0 0 10px;
}

.regSubTitle {
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
}

.regError {
  margin: 0 0 20px;
  font-size: 16px;
  color: $error-color;
}

.error {
  color: $error-color;
}

.link {
  margin-top: 20px;
  //text-decoration: none;
}

.link.dark {
  color: $dark-theme-text;
}

.link.light {
  color: $light-theme-text;
}

.link:hover {
  color: $accent-color;
}
