@import "src/ui/06_common/styles/colors/colors";
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.cardBox {
  position: relative;
}

.backBtn {
  position: absolute;
  text-transform: uppercase;
  left: 0;
  display: flex;
  text-decoration: none;
  background-color: $accent-color;
  color: $light-theme-text;
  padding: 7px 7px;
  font-weight: 500;
  border-radius: 30px;
  margin-left: auto;
}

.addCardBtn {
  background-color: $accent-color !important;
  border: none !important;
  color: #ffffff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  font-size: 14px;
  margin: 0 auto 30px;
}

.addCardBtn:disabled {
  background-color: $gray !important;
}

.addCardLink {
  text-decoration: none;
}

.backLink {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  text-decoration: none;
  margin-top: 40px;
}

.backBtn {
  position: relative;
  width: 100px;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px !important;
  font-size: 14px;
  cursor: pointer !important;
}

.backBtn:before {
  display: none;
  font-family: "Font Awesome 5 Free";
  content: '\f359';
  position: absolute;
  transition: all 200ms ease;
}

.backBtn:hover:before {
  display: inline-block;
  left: 7px;
}

.btn:disabled {
  background-color: $gray !important;
  border: none;
}