@import "src/ui/06_common/styles/colors/colors";

.switcherBtn {
  border: none !important;
  outline: none;
  background-color: $light-theme-bg !important;
  color: $light-theme-bg !important;
  padding: 0px !important;
  cursor: pointer;
}

.switcherBtn.dark {
  background-color: $dark-theme-bg !important;
}

.switcherBtn.light {
  transition: 0.3s all;
}

.emoji {
  font-size: 30px;
}

.btnBox {
  display: flex;
  align-items: center;
  position: absolute;
  height: 79px;
  right: 1%;
}