.formLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 304px;
    margin: 0 auto;
}
.link {
    margin-top: 5px;
    text-decoration: none;
}
.link:visited {
    text-decoration: none;
    color: #000000;
}
.error {
    color: #d03566;
    padding: 10px 0;
}